# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore pdfs
*.pdf

# ignore vscode configuration
.vscode/

#------------------------------------
#angular default directories to ignore
#------------------------------------
**/node_modules
**/dist
**/coverage
**/app/**/*.js
**/app/**/*.map

#------------------------------------
#Angular-GettingStarted repo
#------------------------------------
Angular-GettingStarted/slides/**
Angular-GettingStarted/typings
Angular-GettingStarted/**/app/**/*.js
Angular-GettingStarted/**/app/**/*.map
Angular-GettingStarted/node_modules
Angular-GettingStarted/jspm_packages
Angular-GettingStarted/bower_components
Angular-GettingStarted/.vs
Angular-GettingStarted/**/*.sou
Angular-GettingStarted/**/*.user
Angular-GettingStarted/bin
Angular-GettingStarted/obj
Angular-GettingStarted/packages
Angular-GettingStarted/hello-world/**


#------------------------------------
#from pyton projets
#------------------------------------
# Byte-compiled / optimized / DLL files
python/pythonRainDrops/__pycache__/
python/pythonRainDrops/*.py[cod]
python/pythonRainDrops/*$py.class
python/pythonRainDrops/.idea/
python/pythonRainDrops/.Python
python/pythonRainDrops/env/
python/pythonRainDrops/build/
python/pythonRainDrops/develop-eggs/
python/pythonRainDrops/dist/
python/pythonRainDrops/downloads/
python/pythonRainDrops/eggs/
python/pythonRainDrops/.eggs/
python/pythonRainDrops/lib/
python/pythonRainDrops/lib64/
python/pythonRainDrops/parts/
python/pythonRainDrops/sdist/
python/pythonRainDrops/var/
python/pythonRainDrops/*.egg-info/
python/pythonRainDrops/.installed.cfg
python/pythonRainDrops/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
python/pythonRainDrops/*.manifest
python/pythonRainDrops/*.spec

# Installer logs
python/pythonRainDrops/pip-log.txt
python/pythonRainDrops/pip-delete-this-directory.txt

# Unit test / coverage reports
python/pythonRainDrops/htmlcov/
python/pythonRainDrops/.tox/
python/pythonRainDrops/.coverage
python/pythonRainDrops/.coverage.*
python/pythonRainDrops/.cache
python/pythonRainDrops/nosetests.xml
python/pythonRainDrops/coverage.xml
python/pythonRainDrops/*.cover
python/pythonRainDrops/.hypothesis/
python/pythonRainDrops/*.mo
python/pythonRainDrops/*.pot
python/pythonRainDrops/*.log
python/pythonRainDrops/local_settings.py
python/pythonRainDrops/instance/
python/pythonRainDrops/.webassets-cache
python/pythonRainDrops/.scrapy
python/pythonRainDrops/docs/_build/
python/pythonRainDrops/target/
python/pythonRainDrops/.ipynb_checkpoints
python/pythonRainDrops/.python-version
python/pythonRainDrops/celerybeat-schedule
python/pythonRainDrops/.env
python/pythonRainDrops/venv/
python/pythonRainDrops/ENV/
python/pythonRainDrops/.spyderproject
python/pythonRainDrops/.ropeproject

#------------------------------------
#from the cSharpKoansSolution project
#------------------------------------
cSharp/cSharpKoansSolution/CSharpKoans/bin
cSharp/cSharpKoansSolution/CSharpKoans/obj
cSharp/cSharpKoansSolution/CSharpKoans.Core/obj
cSharp/cSharpKoansSolution/CSharpKoans.Test/bin
cSharp/cSharpKoansSolution/CSharpKoans.Test/obj
cSharp/cSharpKoansSolution/*.suo
cSharp/cSharpKoansSolution/*.user
cSharp/cSharpKoansSolution/packages/**

#------------------------------------
#from the DotNetKoansSolution project
#------------------------------------
#from the DotNetKoansSolution project
cSharp/DotNetKoansSolution/*.suo
cSharp/DotNetKoansSolution/**/bin/**/*
cSharp/DotNetKoansSolution/**/obj/**/*
cSharp/DotNetKoansSolution/packages/**
