# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#------------------------------------
#angular default directories to ignore
#------------------------------------
**/node_modules
**/dist

#------------------------------------
#Angular-GettingStarted repo
#------------------------------------
Angular-GettingStarted/slides/**
Angular-GettingStarted/typings
Angular-GettingStarted/**/app/**/*.js
Angular-GettingStarted/**/app/**/*.map
Angular-GettingStarted/node_modules
Angular-GettingStarted/jspm_packages
Angular-GettingStarted/bower_components
Angular-GettingStarted/.vs
Angular-GettingStarted/**/*.sou
Angular-GettingStarted/**/*.user
Angular-GettingStarted/bin
Angular-GettingStarted/obj
Angular-GettingStarted/packages
Angular-GettingStarted/hello-world/**


#------------------------------------
#from pyton projets
#------------------------------------
# Byte-compiled / optimized / DLL files
pythonRainDrops/__pycache__/
pythonRainDrops/*.py[cod]
pythonRainDrops/*$py.class

# ignore .idea files
pythonRainDrops/.idea/


# Distribution / packaging
pythonRainDrops/.Python
pythonRainDrops/env/
pythonRainDrops/build/
pythonRainDrops/develop-eggs/
pythonRainDrops/dist/
pythonRainDrops/downloads/
pythonRainDrops/eggs/
pythonRainDrops/.eggs/
pythonRainDrops/lib/
pythonRainDrops/lib64/
pythonRainDrops/parts/
pythonRainDrops/sdist/
pythonRainDrops/var/
pythonRainDrops/*.egg-info/
pythonRainDrops/.installed.cfg
pythonRainDrops/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
pythonRainDrops/*.manifest
pythonRainDrops/*.spec

# Installer logs
pythonRainDrops/pip-log.txt
pythonRainDrops/pip-delete-this-directory.txt

# Unit test / coverage reports
pythonRainDrops/htmlcov/
pythonRainDrops/.tox/
pythonRainDrops/.coverage
pythonRainDrops/.coverage.*
pythonRainDrops/.cache
pythonRainDrops/nosetests.xml
pythonRainDrops/coverage.xml
pythonRainDrops/*.cover
pythonRainDrops/.hypothesis/

# Translations
pythonRainDrops/*.mo
pythonRainDrops/*.pot

# Django stuff:
pythonRainDrops/*.log
pythonRainDrops/local_settings.py

# Flask stuff:
pythonRainDrops/instance/
pythonRainDrops/.webassets-cache

# Scrapy stuff:
pythonRainDrops/.scrapy

# Sphinx documentation
pythonRainDrops/docs/_build/

# PyBuilder
pythonRainDrops/target/

# IPython Notebook
pythonRainDrops/.ipynb_checkpoints

# pyenv
pythonRainDrops/.python-version

# celery beat schedule file
pythonRainDrops/celerybeat-schedule

# dotenv
pythonRainDrops/.env

# virtualenv
pythonRainDrops/venv/
pythonRainDrops/ENV/

# Spyder project settings
pythonRainDrops/.spyderproject

# Rope project settings
pythonRainDrops/.ropeproject

#------------------------------------
#from the cSharpKoansSolution project
#------------------------------------
cSharpKoansSolution/CSharpKoans/bin
cSharpKoansSolution/CSharpKoans/obj
cSharpKoansSolution/CSharpKoans.Core/obj
cSharpKoansSolution/CSharpKoans.Test/bin
cSharpKoansSolution/CSharpKoans.Test/obj
cSharpKoansSolution/*.suo
cSharpKoansSolution/*.user
cSharpKoansSolution/packages/**

#------------------------------------
#from the DotNetKoansSolution project
#------------------------------------
#from the DotNetKoansSolution project
DotNetKoansSolution/*.suo
DotNetKoansSolution/**/bin/**/*
DotNetKoansSolution/**/obj/**/*
DotNetKoansSolution/packages/**
