export PASSWORD_STORE_DIR=$HOME/.psws_abk/secrets
export PULUMI_ACCESS_TOKEN=$(pass dev/gcp/pulumi_access_token)
export GOOGLE_CLOUD_PROJECT=abk-gcp-web
export GOOGLE_APPLICATION_CREDENTIALS=$PWD/pulumi-gcp-key.json
# source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
# source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
