asn1crypto==0.24.0
awsiotsdk==1.5.7
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.4
coverage==5.5
cryptography==2.6.1
entrypoints==0.3
gcovr==4.1
idna==2.6
jinja2==2.10
keyring==17.1.1
keyrings.alt==3.1.1
markupsafe==1.1.0
parameterized==0.8.1
pip-check==2.7
pip-chill==1.0.1
pip-date==1.0.5
prettytable==2.1.0
pycrypto==2.6.1
pygobject==3.30.4
pyxdg==0.25
rpi.gpio==0.7.0
six==1.12.0
ssh-import-id==5.7
urllib3==1.24.1
awscrt
awsiot

